body{
font-family: Helvetica;
background-color: whitesmoke;



}
form {
    display: inline-block;
    text-align: center;
}
.a{
    text-decoration: none;
}


.head{

    color: white;
     font-size: 25px ;
     font-family: montserrat;
    
}
.sidenavbar{
background: rgb(160, 109, 109);
font-size: 22px;
position: fixed;
z-index: 1;
right: 0;
top:0;
width: 245px;
height:100%;
overflow-x: hidden;
padding-top: 20px;
transition: 00.5s;
transition-property: left;
flex-direction: column;
align-items: flex-start;

}

.sidenavbar a{
color: rgb(2, 1, 1);
display: block;
width: 100%;
line-height: 60px;
text-decoration: none;
padding-left: 40px;
box-sizing: border-box;
transition: 0.5s;
transition-property: background;
}
.sidenavbar a:hover{
    background: #e3e5f0 ;
}

.sidenavbar i{
    padding-right: 10px;
}



.large{
    width: 450px;
    height: 450px;
    background-color: #fff;
    margin: auto;
    padding:0px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1),
0 6px 8px rgba(0,0,0,0.1) ;
  display: table;
  top: 50%;
  left: 50%;
  right: 50%;
  position: absolute;
 -webkit-transform: translate3d(-50%, -50%, 0);
 -moz-transform: translate3d(-50%, -50%, 0);
 transform:translate3d(-50%, -50%, 0) ;

}

.content{

transition: 0.5s;

}
#check:checked ~ .content{
    margin-left: 60px;
}
#check{
    display: none;
}
.container{

width: 200px;
height: 400px;
margin: 80px auto;
background-color: #fff;
text-align: center;
padding: 20px;
overflow: hidden;
box-shadow: 0 2px 6px rgba(0,0,0,0.1),
0 6px 8px rgba(0,0,0,0.1) ;
border-radius: 15px; 

}
.container .heading{
font size: 60px; 
color: #1877f2;
font-weight: bolder;
cursor: pointer;

}
.container .form-wrapper form p{
    font-weight: 400;
}
.container .form-wrapper form .formInput input{
    
    width: 200px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.521);
    font-size: 18px;
    padding: 6px 15px;
    margin:5px 0;
 border-radius: 10px;
 outline: none;
 text-align: center;
   

}
.container .form-wrapper form  .submission{
    margin: 10px 0;
}

.container .form-wrapper form  .submission button{
color: #fff;
border: 1px solid #1877f2;
background-color: #1877f2;
border-radius: 10px;
width: 200px;
height: 30px;
cursor: pointer;
outline: none;word-wrap: none;
font-size: 22px;

}

.toggle-button{
position: absolute;
top: .75rem;
right:1rem;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle-button .bar{
height: 3px;
width: 100px;
background-color: white;
border-radius:  10px;

}

@media (max-width:400px){
.toggle-button{

    display: flex;
}
.navbar-links{
    display: none;
}


}
.navbar-links ul{

    width: 100%;
    flex-direction: column;
}

.navbar-links li{
text-align: center;

}

.navbar-links li a{

    padding: .5rem 1rem;
}


.navbar-links.active{

display: flex;

}