body{
font-family: Helvetica;
background-color: whitesmoke;



}
form {
    display: inline-block;
    text-align: center;
}
.a{
    text-decoration: none;
}


.header{

    color: white;
     font-size: 20px ;
     font-family: montserrat;
    
}
.sidenav{
background: rgb(252, 210, 134);
font-size: 20px;
position: fixed;
z-index: 1;
right: 0;
top:0;
width: 240px;
height:100%;
overflow-x: hidden;
padding-top: 20px;

transition: 00.5s;
transition-property: left;

}

.sidenav a{
color: #fff;
display: block;
width: 100%;
line-height: 60px;
text-decoration: none;
padding-left: 40px;
box-sizing: border-box;
transition: 0.5s;
transition-property: background;
}
.sidenav a:hover{
    background: #04191d ;
}

.sidenav i{
    padding-right: 10px;
}



.large{
    width: 500px;
    height: 500px;
    background-color: #fff;
    margin: auto;
    padding:0px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1),
0 6px 8px rgba(0,0,0,0.1) ;
  display: table;
  top: 50%;
  left: 50%;
  right: 50%;
  position: absolute;
 -webkit-transform: translate3d(-50%, -50%, 0);
 -moz-transform: translate3d(-50%, -50%, 0);
 transform:translate3d(-50%, -50%, 0) ;

}

.content{

transition: 0.5s;

}
#check:checked ~ .content{
    margin-left: 60px;
}
#check{
    display: none;
}
.container{

width: 200px;
height: 400px;
margin: 80px auto;
background-color: #fff;
text-align: center;
padding: 20px;
overflow: hidden;
box-shadow: 0 2px 6px rgba(0,0,0,0.1),
0 6px 8px rgba(0,0,0,0.1) ;
border-radius: 15px; 

}
.container .heading{
font size: 60px; 
color: #1877f2;
font-weight: bolder;
cursor: pointer;

}
.container .form-wrapper form p{
    font-weight: 400;
}
.container .form-wrapper form .formInput input{
    
    width: 200px;
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.521);
    font-size: 18px;
    padding: 6px 15px;
    margin:5px 0;
 border-radius: 10px;
 outline: none;
 text-align: center;
   

}
.container .form-wrapper form  .submission{
    margin: 10px 0;
}

.container .form-wrapper form  .submission button{
color: #fff;
border: 1px solid #1877f2;
background-color: #1877f2;
border-radius: 10px;
width: 200px;
height: 30px;
cursor: pointer;
outline: none;word-wrap: none;
font-size: 22px;

}